*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container
{
    margin: 0 auto;
    width: 1000px;
    min-height: 500;
    background-color: rgb(6,33,45);
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
h1
{
    font-weight: lighter;
}
span
{
    color: rgb(24,142,216);
}
li
{
    display: inline-block;
    margin-left: 40px;
}
li:first-child
{
    color: rgb(27,67,95);
}

main
{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}

main img
{
    width: 100%;
}

.sub-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card
{
    width: 30%;
    background-color: blue;
    padding: 10px;
    color: white;
    
}

.card img
{
    width: 30px;
    margin-top: 5px;
    
}

.card>h3
{
    display: inline-block;
    font-size: 20pt;
    font-weight: lighter;
}

.card p
{
    /* top-bottom (10px) left-right (0px)*/
    padding: 10px 0px;
    margin-bottom: 10px;
}

.btninfo
{
    background-color: rgb(25,142,216);
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
}

.flex p{
    margin-left: 10px;
}
.flex
{
    display: flex;
    margin-top: 5px;
    
}
.flex-1
{
    width: 65%;
}
.testimotial
{
    display: flex;
    margin-top: 20px;
}
.flex-2
{
    background-color: aqua;
    width: 30%;
    min-height: 100px;
}
footer
{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}