*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 5px;
    color:white;
}

h1{
    flex: 2;
}

ul{
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
}
button{
    padding: 3px;
    background-color: aqua;
    box-shadow: 2px 1px black;
}
.active{
    font-weight: bold;
}