.nav_Bar
{
    background-color: rgb(189,222,255);
}

.navBtn
{
    background-color: rgb(240,242,245);
}

.h2
{
    margin-top: 20rem;
    margin-left: 35rem;
}
.imgCont
{
    width: 100%;
    height: auto;
}

.fleche
{
    width: 5%;
    height: 10%;
    margin-top: 30%;
    margin-left: 45%;
}

.imgProfile
{
    width: 60%;
    height: 78%;
    margin-left: 40%;
}