.nav_Bar
{
    background-color: rgb(189,222,255);
}

.navBtn
{
    background-color: rgb(240,242,245);
}

.h2
{
    margin-top: 20rem;
    margin-left: 35rem;
}


.image-container {
    position: relative;

}

.image-container img {
    display: block;
    width: 100%;
    height: 32rem;
}

.image-container .image-text {

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24rem;
    text-align: center;
}

.fleche
{
    width: 5%;
    height: 10%;
    margin-top: 30%;
    margin-left: 45%;
}

.imgProfile
{
    width: 60%;
    height: 78%;
    margin-left: 40%;
}